---
const {customStyle} = Astro.props; 
---

<div class={customStyle ? customStyle : "social-links"}>
    <ul class="clearfix flex flex-row [&>li]:mr-5 [&>li>a>span]:text-white my-10">
        <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
        <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
        <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
        <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
    </ul>
</div>