---
import BlogPreview from '../blogComponents/previewLink.astro';
import type { PostType } from '@/util/interface';
import SiteData from '@/customization/siteData.json'; 
const {
    postSelection
} = Astro.props; 

---
<div class = "my-5 relative max-w-[1200px] mx-auto px-[15px]">
    <div class="sec-title mb-[55px] text-center">
        <span class="sub-title relative block text-[18px] leading-[28px] font-['Monserrat'] font-bold mb-[16px] uppercase">Articles</span>
        <h2 class = "block text-[36px] leading-[44px] sm:text-[55px] sm:leading-[65px] font-['Prata'] relative font-medium text-[#141417] m-0">Stay Update With <br />{SiteData.business_name}</h2>
    </div>

    {postSelection && postSelection.length > 0 ? 
        <div
        class = "grid sm:grid-cols-3 gap-5"
        >
        {
            postSelection.map(async (post :PostType) =>{
                    return <BlogPreview {...post} />
                }
            )  
        }
        </div>  
        :
        <p class = "text-center text-base mx-auto my-10">There are currently not blog posts to show.</p>
    }
    
</div>