---
import GalleryReact from './gallery-react.tsx'; 
import "./gallery.css"
import Selector from './selector.tsx';
const {
    ProjectGallery
} = Astro.props;  
---
<section 
class="project-section relative pt-[32px] pb-[32px]"
id="project-section"
>
    <div class="auto-container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="mb-[12px] text-center sec-title [&>*]:text-left">
                <span class="sub-title">Projects</span>
                <h2>Check Some Of Our <br />Recent Work.</h2>
            </div>
            <Selector client:visible />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
            <GalleryReact 
            ProjectGallery = {ProjectGallery}
            client:visible 
            />
        </div>
    </div>
</section>
