---
import BaseLayout from '../../layouts/BaseLayout.astro'; 
import ContentWrapper from '../../layouts/ContentWrapper.astro';
const allPosts = await Astro.glob("../posts/*.md"); 
const allAuthors= [...new Set(allPosts.map((post: any) =>post.frontmatter.author))]
---
<BaseLayout
    pageTitle="Authors"
>
    <ContentWrapper>
        <h1
            class ="font-bold"
        >Authors</h1>
        {allAuthors ?
            <ul>
                {allAuthors.map((author:string) =><a href = {`/authors/${author}`}><li>{author}</li></a>)}
            </ul>
            :
            <p>There are currently no authors on the site yet.</p>
        }
    </ContentWrapper>
</BaseLayout>