---
import MemberPanel from './member_panel.astro'; 
import TeamMembers from "@/demo/team_members.json"; 
import "./team_style.css"; 
---
        <!-- team-section -->
        <section class="team-section relative sec-pad">
            <div class="auto-container">
                <div class="sec-title text-center mb-[45px]">
                    <span class="sub-title">Experts</span>
                    <h2>We Handle Everything <br />for You!</h2>
                </div>
                <div class="grid sm:grid-cols-3 sm:gap-5">
                {TeamMembers && TeamMembers.members && TeamMembers.members.length > 0 &&
                    TeamMembers.members.map(member =>
                        <MemberPanel 
                            {...member}
                        />
                )}
                </div>
            </div>
        </section>
        <!-- team-section end -->