---
import SiteData from '@/customization/siteData.json'; 
---
<div class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 gap-4">
    <div class="w-full sm:w-full">
        <div class="relative grid grid-cols-[20%_80%] mb-4 md:mb-0">
            <div class=" inline-block text-3xl"><i class="icon-7"></i></div>
            <div>
                <h5 class="text-lg leading-6 mb-1 font-medium">No Hidden Cost</h5>
                <p>Transparency is the cornerstone of our commitment to you. </p>
            </div>
        </div>
    </div>
    <div class="w-full sm:w-full">
        <div class="relative grid grid-cols-[20%_80%] block mb-4 md:mb-0">
            <div class=" inline-block text-3xl"><i class="icon-8"></i></div>
            <div>
                <h5 class="text-lg leading-6 mb-1 font-medium">Dedicated Team</h5>
                <p>When you envision your dream landscape, you need a team that shares your passion. </p>
            </div>
        </div>
    </div>
    <div class="w-full sm:w-full">
        <div class="relative grid grid-cols-[20%_80%] block mb-4 md:mb-0">
            <div class=" inline-block text-3xl"><i class="icon-9"></i></div>
            <div>
                <h5 class="text-lg leading-6 mb-1 font-medium">Fresh Environment</h5>
                <p>Crafts outdoor spaces that breathe new life into your surroundings.</p>
            </div>
        </div>
    </div>
    <div class="w-full sm:w-full">
        <div class="relative grid grid-cols-[20%_80%] block mb-4 md:mb-0">
            <div class=" inline-block text-3xl"><i class="icon-10"></i></div>
            <div>
                <h5 class="text-lg leading-6 mb-1 font-medium">Available 24/7</h5>
                <p>Landscape needs can arise at any moment. We're here to serve you around the clock. </p>
            </div>
        </div>
    </div>
</div>
