---
import "./liquid-button.css";
const {
    button_label,
    link, 
} = Astro.props;
    const BeforeStyle = "before:object-fit before:content-[''] before:h-full before:w-0 before:bg-[#21563D] before:absolute before:inset-0 before:opacity-60 hover:before:w-full before:transform-all before:duration-[500ms] before:z-[0]"
---
<div 
class ={`w-fit mx-auto px-5 py-1 rounded-lg cursor-pointer select-none active:translate-x-[1px] active:translate-y-[1px] relative bg-[#2f7955] text-white font-bold overflow-hidden ${BeforeStyle} clippedShape`}
>
    <a href={link}
        class =" z-1 capitalizetext-2xl text-white text-center relative"
    >
        {button_label}
    </a>
</div>
