@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
	h1 {
		@apply my-1 text-2xl font-bold;
	}
}

@layer components {
	.btn-primary {
        @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-none text-center w-fit select-none text-black mx-auto hover:bg-[#a2a2a2] bg-[#dbdbdb] box_shadow whitespace-nowrap [&>*]:inline-flex;
    }
    .btn-secondary {
        @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-black border-2 text-center w-fit select-none text-white mx-auto hover:bg-[#535353] bg-[#333333] box_shadow whitespace-nowrap [&>*]:inline-flex block;
    }
    .btn-delete {
        @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer text-center w-fit select-none text-white mx-auto hover:bg-[#FF3333] bg-[#E31010] box_shadow;
    }

    .btn-standard {
        @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-none text-center w-fit h-fit select-none m-auto hover:bg-[#a2a2a2] box_shadow whitespace-nowrap block;
    }
    .btn-submit {
        @apply !active:bg-[#C6C6C6] border-[#dbdbdb] border-2 text-black mx-auto hover:bg-gray-300 !bg-[#dbdbdb] select-none;
    }

    .btn-cancel {
        @apply active:bg-[#4B4B4B] p-[10px] border-white border-2 text-white mx-auto hover:bg-gray-300 !bg-[#333333] rounded-[15px] box_shadow block;
    }

    .btn-add {
        @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] text-base cursor-pointer border-none text-center w-fit select-none text-white mx-auto hover:bg-[#a2a2a2] bg-[#888888] box_shadow whitespace-nowrap [&>*]:inline-flex [&>img]:ml-5;
    }
    
	.hamburger {
		@apply my-auto mr-[1rem] block cursor-pointer md:hidden;
	}
	.line {
		@apply block h-[5px] w-[40px] rounded-lg bg-[#fff];
	}
	.fancyButton {
		@apply relative block w-fit cursor-pointer select-none rounded-lg bg-slate-300 px-5 py-1 font-bold text-white active:translate-x-[1px] active:translate-y-[1px];
	}
	.nav-links {
		@apply relative m-0 ml-auto mr-[3rem] hidden h-fit w-full text-white sm:ml-[5em] sm:w-auto sm:bg-none md:block;
	}
	.nav-links a {
		@apply block h-fit px-0 text-center text-[1.2rem] font-bold uppercase no-underline hover:bg-[#262626];
	}
	.mobile-menu-links a {
		@apply mb-10 w-full cursor-pointer rounded-lg px-1;
	}
	.mobile-menu {
		@apply bg-slate-100;
	}

	.dark .mobile-menu {
		@apply bg-slate-700 text-white;
	}

	.dark .Mobile_Menu_Wrapper {
		@apply text-white;
	}

	.footer-links a {
		@apply cursor-pointer font-bold hover:underline;
	}
	.formBackground {
		@apply bg-[#ffffff] text-black;
	}
	.dark .formBackground {
		@apply bg-[#353535] text-[#fff];
	}
	.formLabel {
		@apply text-base sm:text-2xl;
	}
	.dark .formLabel {
		@apply text-[#ffffff];
	}
	.formInput {
		@apply w-full rounded-lg border-2 border-slate-200 border-solid bg-transparent pl-1 text-black placeholder:text-base placeholder:text-[#545454];
	}
	.dark .formInput {
		@apply text-[#fff] placeholder:text-[#F8F8F8];
	}
	.dark .fancyButton {
		@apply bg-[#1F7DD5];
	}
	.email-icon {
		@apply inline-flex h-[50px] w-[50px] rounded-full bg-slate-100 sm:h-[70px] sm:w-[70px];
	}
	.dark .email-icon {
		@apply bg-[#1F7DD5];
	}

	.main-header {
		@apply fixed left-0 right-0 top-0 z-[98] m-0 block w-full border-none p-0 transition-all duration-500 ease-in-out md:duration-500 md:ease-in-out lg:duration-500 lg:ease-in-out xl:duration-500 xl:ease-in-out;
	}

	.header_lower {
		@apply bg-white bg-cover bg-center bg-no-repeat font-[Montserrat] text-base font-normal leading-7 text-gray-500 antialiased;
	}
	.close-btn {
		@apply absolute left-auto right-[15px] top-[15px] cursor-pointer text-white transition-all duration-1000 hover:rotate-[-360deg];
	}
	.mobile-menu-links {
		@apply text-white;
	}
	.centred {
		@apply text-center;
	}
	.p_relative {
		@apply relative;
	}
	.feature-block {
		@apply relative w-full;
	}
  .btn-primary {
    @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-none text-center w-fit select-none text-black mx-auto hover:bg-[#a2a2a2] bg-[#dbdbdb] box_shadow whitespace-nowrap [&>*]:inline-flex;
  }
}
:root {
	--mobile-duration: 1000ms;
	--mobile-menu-close-width: 250px;
	--subDirectoryDivDuration: all 500ms ease-out;
}

html {
	background-color: #f3f3f3;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.expanded {
	display: unset;
}

.clippedShape::before {
	clip-path: polygon(0 0, 0 0, 100% 100%, 0% 100%);
}

.clippedShape:hover::before {
	clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
}

html.dark {
	background-color: #262626;
	color: #fff;
}

.dark .nav-links a {
	color: #fff;
}

.dark .tagListItem a {
	color: #000000 !important;
}
/* 
  .dark .mobile-menu{
    background-color: #5b5b5b !important;
  } */

.dark footer {
	background-color: #000000;
}

.box_shadow {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*Mobile menu animation */
#mobile-menu {
	transition:
		transform var(--mobile-duration),
		opacity var(--mobile-duration);
}

.mobile-menu-close {
	transform: translateX(var(--mobile-menu-close-width));
	opacity: 0.1;
}

/*Mobile menu arrow */
.menu-arrow {
	transition: transform 500ms;
}

.menu-arrow-open {
	transform: rotateZ(90deg);
}

.fa-angle-down {
	text-align: center;
}

.fa-angle-down::before {
	background-color: rgba(255, 255, 255, 0.2);
	width: 32px;
	height: 32px;
	border-radius: 5px;
	position: absolute; /* Position the pseudo-element */
	top: 50%; /* Move the pseudo-element down by 50% of the parent's height */
	left: 50%; /* Move the pseudo-element right by 50% of the parent's width */
	transform: translate(
		-50%,
		-50%
	); /* Move the pseudo-element back by half of its own width and height */
	display: flex; /* Use flexbox to center the content vertically and horizontally */
	align-items: center; /* Center content vertically */
	justify-content: center; /* Center content horizontally */
}

.subDirectoryDiv {
	-webkit-transition: var(--subDirectoryDivDuration);
	-moz-transition: var(--subDirectoryDivDuration);
	-o-transition: var(--subDirectoryDivDuration);
	transition: var(--subDirectoryDivDuration);
	overflow-y: visible;
}
.subDirectory-closed {
	max-height: 0px !important;
	overflow-y: hidden;
	opacity: 0;
}
.currentPage {
	position: relative;
}
.currentPage::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 45px;
	border-left: 5px solid #fff;
	z-index: 100;
}

.backdrop {
	transition: all 900ms ease;
	visibility: hidden;
	opacity: 0;
}

.backdrop-visible {
	opacity: 0.7;
	visibility: visible;
	right: 100%;
	-webkit-transition: all 0.8s ease-out 0s;
	-o-transition: all 0.8s ease-out 0s;
}

.lowerHeader-fixed {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}
/* End of Header Component*/

/*banner section of home page*/
.pattern-layer {
	animation: slide 60s linear infinite;
	-webkit-animation: slide 60s linear infinite;
}

#BannerSection::before {
	position: absolute;
	inset: 0;
	content: '';
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-color: rgba(0, 0, 0);
	background-position: center;
}

@media screen and (min-width: 636px) {
	.nav-links a {
		display: inline-block;
		padding: 15px 20px;
	}
}

/* fonts */
@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Prata';
	src: url('/fonts/Prata-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
