:root{
    --durationTime : 5s; 
}

.box_shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.collapsibleDiv {
    transition: transform --vars(durationTime) ease;  
}

.collapsed {
    max-height: 0px; 
}

.arrowStyle {
    transition: all --vars(durationTime) ease;
}

.downArrow {
    transform: rotateZ(180deg); 
}