---
import "./about_style.css";
import Experience from "./experience.astro";
import SellingSection from "./selling_section.astro";
---

<section class="about-section py-[70px] sm:py-[130px] relative">
    <div class="static max-w-[1200px] my-0 mx-auto py-0 px-[15px]">
        <div class="items-center grid sm:grid-cols-2">
            <Experience />
            <SellingSection />
        </div>
    </div>
</section>
<!-- about-section end -->