@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
    .inner-box{
        @apply bg-white rounded-[5px] px-[15px] pt-[70px] pb-[60px] mb-[30px] transition-all relative block;
    }
    .icon-box{
        @apply relative inline-block rounded-lg transition duration-300 [&>p]:absolute;
    }
}

.grid-template{
    display: grid; 
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
}

.inner-box{
    animation-duration: 5s; 
}

.feature-block-one .inner-box:hover{
    box-shadow: 0 0 40px rgb(0 0 0 / 20%);
}

.fadeInUp{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    display:block !imporant; 
}

.fadeOutDown {
    transform: translateY(20px); 
    /* -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px); */
    opacity: 0; 
}

#SellExperience-1, #SellExperience-3, #SellExperience-3{
    transition: opacity 1s, transform 1s; 
    /* opacity: 1.0; 
    transform: translateY(0px); 
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px); */
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.about-section .inner-content .pattern-layer .pattern-1{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 210px;
  height: 210px;
  border-radius: 50%;
  opacity: 0.1;
}

.about-section .inner-content .pattern-layer .pattern-2{
  left: -125px;
  bottom: 30px;
  width: 204px;
  height: 284px;
  background-repeat: no-repeat;
}

.about-section .inner-content .pattern-layer .pattern-3{
  top: 220px;
  right: -80px;
  width: 150px;
  height: 219px;
  background-repeat: no-repeat;
}

.b_shadow_6{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.10)
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@media only screen and (min-width:636px){
#SellExperience-2{
    transition-delay: 500ms; 
}
#SellExperience-3{
    transition-delay: 600ms;
}
}