<div 
    id="Experience"
    class="">
    <div class="content_block_1">
        <div class="content-box relative block mr-[70px]">
            <div class="sec-title mb-[35px]">
                <span class="sub-title">About</span>
                <h2>20 Years of <br />Great Experience.</h2>
            </div>
            <div class="text relative block mb-[40px]">
                <p>At Natural Patterns Landscaping, we are more than just a landscaping business – we are the stewards of your outdoor dreams. With a deep-rooted passion for nature's beauty and a commitment to crafting breathtaking landscapes, we transform ordinary spaces into living works of art that seamlessly blend with the environment.</p>
            </div>
            <div class="btn-box relative block">
                <a href="about.html" class="theme-btn btn-one">Read More</a>
            </div>
        </div>
    </div>
</div>