---
export const prerender = true;
import BaseLayout from '@/layouts/BaseLayout.astro';
import ContentWrapper from '@/layouts/ContentWrapper.astro';
import Banner from '@/components/small_banner/index.astro'; 
import Accordion from "@/components/accordion_component/index.tsx";
import SiteData from "@/customization/siteData.json"; 
import {data} from "@/demo/frequentlyAskedQuestions.js"; 
import type { AccordionType } from '@/util/interface';
import Graphics from '@/components/faq-page/graphicsWrapper.astro'

---
<BaseLayout
pageTitle = "FAQ" 
CTA_Banner = {true}
customDescription = {`Frequently Asked Questions about ${SiteData.business_name}`}
>
<Banner 
  title = "FAQ"
/>
    <ContentWrapper>
        <div 
            class = "mt-10"
        >
            <h2
            class = "text-[#2f7955]"
            >FAQ's</h2>
            <h1
            class = "text-left text-[36px] leading-[44px] block font-['Prata',serif] text-black font-400"
            >Frequently Asked Questions</h1>
        </div>
        <div class = "grid sm:grid-cols-2">
            <Accordion 
                data = {data as Array<AccordionType>}
                client:load
            />
            <Graphics />
        </div>
    </ContentWrapper>
</BaseLayout>
