---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContentWrapper from "@/layouts/ContentWrapper.astro";
import Banner from '@/components/small_banner/index.astro'; 

---
<BaseLayout pageTitle = "Home">
	<h1>Services</h1>
</BaseLayout>