---
import SearchBar from './search_bar.tsx'; 
---    
<!-- header-top -->
<div class="header-top">
    <div class="shape" style="background-image: url(src/assets/images/shape/shape-16.png);"></div>
    <div class="auto-container">
        <div class="top-inner clearfix">
            <div class="left-column pull-left">
                <ul class="social-links clearfix">
                    <li><p>Follow Us:</p></li>
                    <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="index.html"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="index.html"><i class="fab fa-pinterest-p"></i></a></li>
                </ul>
            </div>
            <div class="right-column pull-right">
                <ul class="grid sm:flex sm:flex-row sm:gap-[10px] sm:w-fit sm:mx-auto">
                    <li
                        class="!mx-auto w-fit flex flex-row gap-[5px]"
                    >
                        <div class="icon-box"><i class="fas fa-phone text-white"></i></div>
                        <p>Call: <a href="tel:12345615523" class ="xm_414:font-bold">123 4561 5523</a></p>
                    </li>
                    <li
                        class="sm:block sm:mx-5 hidden"
                    >|</li>
                    <li
                        class="!mx-auto w-fit flex flex-row gap-[5px]"
                    >
                        <div class="icon-box"><i class="fas fa-envelope text-white"></i></div>
                        <p>Email: <a href="tel:info@example.com">info@example.com</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>