---
import LogoComponent from "../logoComponent.astro"
import ShapeOne from "./shape-1.astro";
import type {NavItemType} from '@/util/interface.tsx'; 
import NavItem from './NavItem.astro'
import {menuMap} from '@/customization/navigation-map.js'; 
---
<!-- header-lower -->
<div 
id="header-lower"
class="header-lower font-[Monserrat] border-b-2"
>
    <div 
        class="auto-container"
        >
        <div 
            class="justify-between flex flex-nowrap transition-[height] duration-500"
            id="header-auto-container"
            >
            <div 
                class="logo-box p-5 sm:py-[37.5px] sm:px-0 my-auto transition-all duration-500"
                id="header-logo"
                >
                <ShapeOne />
                <figure class="logo">
                    <LogoComponent />
                </figure>
            </div>
            <div class="menu-area clearfix my-auto">
                <div
                    id="mobile-nav-toggler"
                    class="mobile-nav-toggler"
                >
                    <i class="icon-bar"></i>
                    <i class="icon-bar"></i>
                    <i class="icon-bar"></i>
                </div>
                <nav class="main-menu navbar-expand-md navbar-light">
                    <div class="" id="navbarSupportedContent">
                        <ul class="navigation clearfix flex">
                        {menuMap && menuMap.length > 0 &&
                            menuMap.map((item: NavItemType) =><NavItem {...item}/>)
                        }
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="hidden sm:flex relative items-center justify-center">
                <div class="btn-box"><a href="/contact" class="theme-btn btn-one whitespace-nowrap">Get A Quote</a></div>
            </div>
        </div>
    </div>
</div>
