---
import ShapeOne from "@/assets/images/shape/shape-1.png"
---
<div 
    class="hidden sm:block absolute left-[0px] bottom-[-21px] w-[181px] h-[25px] object-cover"
    id = "shape-1"
    >
    <img 
        src = {ShapeOne.src}
        class = "w-full h-full"
        alt="decorative shape"
    />
</div>
