        <section class="about-section p_relative pt_130 pb_130">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_1">
                            <div class="content-box p_relative d_block mr_70">
                                <div class="sec-title mb_35">
                                    <span class="sub-title">About</span>
                                    <h2>20 Years of <br />Great Experience.</h2>
                                </div>
                                <div class="text p_relative d_block mb_40">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</p>
                                </div>
                                <div class="btn-box p_relative d_block">
                                    <a href="about.html" class="theme-btn btn-one">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
                        <div class="inner-content centred p_relative">
                            <div class="pattern-layer">
                                <div class="pattern-1 p_absolute"></div>
                                <div class="pattern-2 p_absolute wow slideInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(assets/images/shape/shape-3.png);"></div>
                                <div class="pattern-3 p_absolute wow slideInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(assets/images/shape/shape-4.png);"></div>
                            </div>
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 feature-block">
                                    <div class="feature-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <div class="inner-box p_relative d_block bg_white b_radius_5 b_shadow_6 pt_70 pb_60 tran_5 mb_30 pl_15 pr_15">
                                            <div class="icon-box p_relative d_iblock b_radius_10 fs_35 mb_30 z_1 tran_5"><i class="icon-4"></i></div>
                                            <h3 class="fs_22 lh_30 fw_medium">100% Guarantee Services</h3>
                                        </div>
                                    </div>
                                    <div class="feature-block-one wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                                        <div class="inner-box p_relative d_block bg_white b_radius_5 b_shadow_6 pt_70 pb_60 tran_5 mb_30 pl_15 pr_15">
                                            <div class="icon-box p_relative d_iblock b_radius_10 fs_35 mb_30 z_1 tran_5"><i class="icon-5"></i></div>
                                            <h3 class="fs_22 lh_30 fw_medium">Environmental Friendly</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 feature-block">
                                    <div class="feature-block-one wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                                        <div class="inner-box p_relative d_block bg_white b_radius_5 b_shadow_6 pt_70 pb_60 tran_5 mb_30 pl_15 pr_15">
                                            <div class="icon-box p_relative d_iblock b_radius_10 fs_35 mb_30 z_1 tran_5"><i class="icon-5"></i></div>
                                            <h3 class="fs_22 lh_30 fw_medium">Dedicated Support Team</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->
