---
import Grass from '@/assets/images/shape/shape-2.png'
---
<!-- banner-section -->
<section 
    id="BannerSection"
    class="relative text-center block bg-cover bg-no-repeat bg-center overflow-hidden min-h-[80vh] w-full"
    style = "background-image: url(../../../src/assets/images/banner/banner-3.jpg)"
>
    <div 
    class="pattern-layer absolute left-0 right-0 bottom-0 bg-repeat-x h-[54px] w-full"
    style = "background-image: url(../../../src/assets/images/shape/shape-2.png)"
    >
    </div>
    <div class = "">
    </div>
</section>
        <!-- banner-section end -->