---
import Grass from '@/assets/images/shape/shape-2.png'
import Slider from "../imageSlider/slider.tsx"
var HeroImages : Array<string>= []
try{
    var imageMap = import.meta.glob("../../assets/slides/hero/*")
    var originalPaths = Object.keys(imageMap)
    
    HeroImages = originalPaths.map(path => {
        return path.replace('../../assets/', '../../src/assets/');
    });
    console.log("HeroImages: ", HeroImages)
}catch(error){
    console.log("Error: ", error)
}
---
<!-- banner-section -->
<section 
    id="BannerSection"
    class="relative text-center block bg-cover bg-no-repeat bg-center overflow-hidden min-h-[80vh] w-full"
>
    <div 
    class="pattern-layer absolute left-0 right-0 bottom-0 bg-repeat-x h-[54px] w-full"
    style = "background-image: url(../../../src/assets/images/shape/shape-2.png)"
    >
    <Slider images={HeroImages} darkMask = {false} client:load />
    </div>
    <div class = "">
    </div>
</section>
        <!-- banner-section end -->