

        <!-- chooseus-section -->
        <section class="chooseus-section p_relative">
            <div class="pattern-layer p_absolute" style="background-image: url(assets/images/shape/shape-7.png);"></div>
            <div class="auto-container">
                <div class="inner-container p_relative d_block bg_white b_radius_5 b_shadow_6">
                    <div class="shape-layer">
                        <div class="shape-1 p_absolute" style="background-image: url(assets/images/shape/shape-5.png);"></div>
                        <div class="shape-2 p_absolute" style="background-image: url(assets/images/shape/shape-6.png);"></div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-12 col-sm-12 image-column">
                            <figure class="image-box p_relative d_block img_hover_3"><img src="assets/images/resource/chooseus-1.jpg" alt=""></figure>
                        </div>
                        <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                            <div class="content_block_2">
                                <div class="content-box p_relative d_block pt_65 pl_40 pr_70 pb_30">
                                    <div class="sec-title mb_10">
                                        <span class="sub-title">People Love</span>
                                        <h2>They Choose Us.</h2>
                                    </div>
                                    <div class="text p_relative d_block mb_35">
                                        <p>Fruit is their fill meat, hath abundantly place meat don't stars so and which signs third second after seasons under.</p>
                                    </div>
                                    <div class="inner-box p_relative d_block">
                                        <div class="row clearfix">
                                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                                <div class="single-item p_relative d_block mb_25 pl_55">
                                                    <div class="icon-box p_absolute d_iblock fs_35"><i class="icon-7"></i></div>
                                                    <h5 class="fs_18 lh_30 mb_5 fw_medium">No Hidden Cost</h5>
                                                    <p>Lorem ipsum dolor sit elit consectetur sed.</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                                <div class="single-item p_relative d_block mb_25 pl_55">
                                                    <div class="icon-box p_absolute d_iblock fs_35"><i class="icon-8"></i></div>
                                                    <h5 class="fs_18 lh_30 mb_5 fw_medium">Dedicated Team</h5>
                                                    <p>Lorem ipsum dolor sit elit consectetur sed.</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                                <div class="single-item p_relative d_block mb_25 pl_55">
                                                    <div class="icon-box p_absolute d_iblock fs_35"><i class="icon-9"></i></div>
                                                    <h5 class="fs_18 lh_30 mb_5 fw_medium">Fresh Environment</h5>
                                                    <p>Lorem ipsum dolor sit elit consectetur sed.</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                                <div class="single-item p_relative d_block mb_25 pl_55">
                                                    <div class="icon-box p_absolute d_iblock fs_35"><i class="icon-10"></i></div>
                                                    <h5 class="fs_18 lh_30 mb_5 fw_medium">Available 24/7</h5>
                                                    <p>Lorem ipsum dolor sit elit consectetur sed.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>