---
import Slider from "../../imageSlider/slider.tsx";
import TitleSection from '../title_section/index.astro'; 
import "./banner.css"; 
var HeroImages : Array<string>= []
try{
    var imageMap = import.meta.glob("../../../assets/slides/hero/*")
    var originalPaths = Object.keys(imageMap)
    HeroImages = originalPaths.map(path => {
        return path.replace('../../assets/', '../../src/assets/');
    });
}catch(error){
    console.log("Error: ", error)
}
---
<!-- banner-section -->
<section 
    id="BannerSection"
    class="relative text-center block bg-cover bg-no-repeat bg-center overflow-hidden min-h-[80vh] w-full"
>
    <div 
    class="pattern-layer absolute left-0 right-0 bottom-0 bg-repeat-x h-[54px] w-full z-[19]"
    id = "animated-grass"
    ></div>
    <Slider images={HeroImages} darkMask = {true} name = "hero" client:load />
    <TitleSection 
        MainTitle = "Make your home like a garden"
        Subtext = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur imperdiet nibh a ullamcorper."
        button_label = "Hire us now"
        link = "/"
    />  
</section>
        <!-- banner-section end -->
