---
//import BackImg from '@/assets/slides/hero/banner-1.jpg';
const {
    BackImg,
    title,
    text, 
    CTA_link, 
} = Astro.props;  
---
<!-- cta-section -->
<section class="cta-section relative pt-[140px] pb-[140px]" style={`background-image: url(${BackImg});`}>
    <div class="auto-container">
        <div class="relative block clearfix">
            <div class="sec-title light float-left">
                <span class="sub-title">{title.toUpperCase()}</span>
                <h2>We Provides Hassle-Free <br />Garden solutions.</h2>
            </div>
            <div class="btn-box float-right mt-[50px]">
                <a href={CTA_link} class="theme-btn btn-one">Learn How  We Do?<i class="far fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- cta-section end -->
