---
import { Icon } from 'astro-icon'
const { customStyle } = Astro.props; 
---

<div
            id="CreatorContainer"
            class={`${customStyle}`}
        >
            <div class ="mx-auto">Developed by &nbsp;
                <span
                    class="underline cursor-pointer font-bold text-lg"
                ><a href = "http://portfolio-3b68c.web.app/" target="_blank">Albert Hu</a></span>
            </div>
</div>