---
import '../styles/global.css'; 
---
<>
    <a href="/" class="">Home</a>
    <a href="/about/" class="">About</a>
    <a href="/blog/" class="">Blog</a>
    <a href = "/contact/" class="mobile-menu-links">Contact</a>
<>