---
import "./style.css"; 
const { 
    image,
    altText,
    } = Astro.props; 
---
<div
    id = "image-component"
    class ="h-auto w-11/12 mx-auto md:h-[370px] md:w-[370px] overflow-hidden rounded-lg  grow-[3]" 
>
    <img 
    src = {image} 
    alt = {altText ? altText : "projectimage"}  
    class = "object-cover w-full h-full"
    />
</div>