---
const {images} = Astro.props; 
import './style.css';
import ImageComponent from "./image_component.astro";
---
<div 
    id = "image-grid"
    class = "flex flex-row flex-wrap gap-5 mt-10 [&>div]:w-[250px] [&>div]:h-[250px] xm:[&>div]:w-[330px] xm:[&>div]:h-[330px]"
>
    {images && images.length > 0 &&
        images.map((image : string | HTMLImageElement, index : number) =>
        <ImageComponent 
            image = {image}
            altText ={`image-${index+1}`} 
            />
        )
    }
</div>