---
const {
    solution, 
    image
} = Astro.props; 
import ImageComponent from "./image_component.astro";
import "./style.css"; 
---
<section
    class = "my-10"
>
    <h2>Project Solution</h2>
    <div
        class = "flex flex-col sm:flex-row sm:gap-10"
    >
    {image && 
        <ImageComponent 
            image = {image} 
            altText="challenge project"
        />
    }
    <div
        class = "grow basis-36"
    >{solution}</div>
    </div>
</section>