---
import "./service-style.css"; 
import ServiceBlock from './service-block.astro'; 
import ServicesDemo from '@/customization/services.json';
const displayServices = ServicesDemo && ServicesDemo.data.length > 0 ? ServicesDemo.data.slice(0 , 4) : []; 
---

<!-- service-section -->
<section class="service-section relative bg-[#f0f7f7] p-[143px_0px_150px_0px] text-center">
    <div class="auto-container">
        <div class="sec-title mb-[35px]">
            <span class="sub-title">Services</span>
            <h2>What Kind of Services <br />We are Offering</h2>
        </div>
        <div class="grid sm:grid-cols-4 gap-5">
            {displayServices && displayServices && displayServices.length > 0 &&
                displayServices.map(service =>
                    <ServiceBlock 
                        thumbnail = {service.thumbnail}
                        title = {service.title}
                        tagline = {service.tagline}
                        link = {service.link}
                    />
                )
            }      
        </div>
    </div>
</section>
<!-- service-section -->