---
import ColumnLabel from './column_label.astro';
---
<div class="col-lg-3 col-md-6 col-sm-12 footer-column">
    <div class="footer-widget contact-widget">
        <div class="widget-title relative block mb-[25px]">
            <ColumnLabel label = "Contacts" />
        </div>
        <div class="widget-content">
            <ul class="contact-info clearfix">
                <li class="relative block mb-[20px]">
                    <p class="text-lg">Flat 20, Reynolds Neck, North Helenaville, FV77 8WS</p>
                </li>
                <li class="relative block mb-[20px]">
                    <p class="text-lg"><a href="tel:23055873407">+2(305) 587-3407</a></p>
                </li>
                <li class="relative block">
                    <p class="text-lg"><a href="mailto:info@example.com">info@example.com</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>
