---
import CreatorComponent from '../creatorComponent.astro';
import LogoComponent from '../logoComponent.astro';
import Navigation from '../navigation.astro'; 
import siteData from '../../customization/siteData.json'; 

var YEAR = new Date().getFullYear(); 
---

<footer
    class = "grid gap-[1em] mt-[2rem] absolute bottom-0 right-0 left-0 min-h-[250px] bg-slate-300"
>
    <div class = "w-11/12 mx-auto text-center my-5">
        <div
            class = "sm:grid sm:grid-cols-2 mx-auto"
        >
            <div
                class = "mb-5 sm:mb-0"
            >
                <LogoComponent customStyle = "!mx-auto" />
                <p
                    class = "tagline"
                >"Tagline"</p>
            </div>
            <div 
                class = "grid footer-links mx-auto"
            >
                <h4
                    class = "font-bold mb-1 text-2xl"
                >Site</h4>
                <Navigation />
            </div>
        </div>
    </div>
    <div
        class ="w-full min-h-[20px] bg-black text-slate-300 text-center relative"
    >
        <span id = "WebsiteName">{siteData.business_name}</span> &copy;
        <span id = "CopyRight">{YEAR}</span>
        <CreatorComponent customStyle = "sm:absolute sm:right-[10px] sm:top-0" />
    </div>
</footer>