---
import StepWizard from './step-wizard.tsx'; 
---
<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

<section class="relative flex flex-wrap lg:h-screen lg:items-center">
  <div 
    class="w-full py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24"
    id = "ATFormContainer"
    >
      <StepWizard client:only ="react" />
  </div>
  <div class="relative h-64 w-full sm:h-96 lg:h-full lg:w-1/2">
    <img
      alt="Welcome"
      src="https://images.unsplash.com/photo-1630450202872-e0829c9d6172?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
      class="absolute inset-0 h-full w-full object-cover"
    />
  </div>
</section>
