---
//note: This component requires tagging hero sections of webpage with the class name "scrollTotopIndicator"
//The logic for making the button appear and disappear will be located in the layout file
import { Icon } from 'astro-icon'
import "./style.css"; 
---
<div
    class ="ScrollTopButton w-[3rem] h-[3rem] rounded-full fixed bottom-[6rem] right-[1rem] z-20 cursor-pointer block w-fit userselect-none transition-all duration-1000 buttonHidden invisible bg-[#2f7955]" 
>
<Icon 
    id="ScrollTopButton"
    class = "mx-auto w-[3rem] h-[3rem] userselect-none text-[#dbdbdb]"
    name="ic:sharp-arrow-circle-up" />
</div>
<script is:inline>
    const button = document.getElementById("ScrollTopButton")
    button?.addEventListener("mousedown", ()=>window.scrollTo({top: 0,left: 0,behavior: "smooth",}))
</script>