---
import Counter from './counter.tsx'; 

const {
    label, 
    number, 
    icon, 
} = Astro.props; 
---
<div class="w-full md:w-1/4 p-4">
    <div class="counter-block-one animate__animated animate__slideInUp">
        <div class="inner-box relative bg-transparent grid grid-cols-2">
            <div class="text-[40px] text-theme-color w-[75px]  h-[75px] leading-[40px] block bg-white rounded-full relative mx-auto">
                <i class={`icon-${icon} iconStyle`}></i>
            </div>
            <div
                class = "text-center sm:text-left"
            >
                <Counter 
                    number = {number} 
                    client:load
                    />
                <h6 class="relative block mt-2 text-base text-white !font-semibold whitespace-nowrap">{label}</h6>
            </div>
        </div>
    </div>
</div>
