---
import "./funfact_style.css";
import CounterBlock from './counter-block.astro'; 
---

<section class="funfact-section relative pt-[140px] pb-[140px] block bg-[url('../src/assets/images/background/funfact-bg.jpg')]">
    <div class="container mx-auto">
        <div class="text-center mb-65">
            <span class="sub-title text-white">Fun Facts</span>
            <h2 class="mt-3 text-white block text-[36px] sm:text-[55px] leading-[44px] sm:leading-[65px] font-['Prata'] relative font-[400]">We have Some Number of Great <br />Achievements</h2>
        </div>
        <div class="flex flex-wrap">
            <CounterBlock 
                label = "Garden Complete"
                number = {90}
                icon = {13}
            />
            <CounterBlock 
                label = "Satisfied Clients"
                number = {216}
                icon = {16}
            />
            <CounterBlock 
                label = "Experienced Staff"
                number = {35}
                icon = {6}
            />
            <CounterBlock 
                label = "Awards Win"
                number = {6}
                icon = {15}
            />
        </div>
    </div>
</section>
