---
import {Icon} from 'astro-icon'; 
const { customStyle } = Astro.props; 
---

<div 
    class = {`email-icon ${customStyle}`}
>
    <Icon 
        name = "ic:outline-attach-email" 
        class = "w-9/12 h-9/12 m-auto"
        />
</div>